<html>

<p><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nettuts Email Newsletter</title>
</head></p>

<p><body></p>

<p><table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4"><tr><td></p>

<p><table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">
    </table><!-- top message -->
    {% if updated%}
      <h1 class="display-3">Thank You For Updating Your Subscription</h1>
    {% else %}
      <h1 class="display-3">Thank You For Subscribing</h1>
    {% endif %}
    <table id="main" cellpadding="0" cellspacing="15" bgcolor="ffffff" width="600" align="center">
    </table><!-- main -->
    <p class="lead">You have subscribed {{ email }} to {{ newsletter }} for {{ city }}.</p>
    <hr>
    <table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">
    </table><!-- bottom message --></p>

<p></tr></td></table><!-- wrapper --></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<p></body></p>

<p></html>
</p>
